[user]
	name = Pawel Bartusiak
	email = 21136755+uFloppyDisk@users.noreply.github.com

[init]
	defaultBranch = main

[credential "https://github.com"]
	helper = 
	helper = !/home/floppydisk/.nix-profile/bin/gh auth git-credential
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/home/floppydisk/.nix-profile/bin/gh auth git-credential

[push]
  autoSetupRemote = true
  default = current

[alias]
	logd = log --decorate --oneline --graph
