# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Pawel Bartusiak
	email = 21136755+uFloppyDisk@users.noreply.github.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[alias]
	logd = log --decorate --oneline --graph
[maintenance]
	repo = /home/floppydisk/prog/upcrib-net
